body {
    margin: 0;
    overflow: hidden;
}

p {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

#login {
    margin: 20px auto;
    text-align: center;

    width: 320px;
    padding: 12px;

    color: #fff;
    background: linear-gradient(32deg, #228399, #73f0c6);

    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

    transition: opacity 0.9s ease-in;
}

input {
    margin-top: 4px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

h1 {
    margin: 10px 0;
}

img {
    transition: opacity 1.2s ease-out;
}

#photos > div > img {
    display: block;
}

.text {
    color: #fff;
    text-shadow: #333 0px 0px 8px, #000 0px 0px 4px;
    margin: 0;
    font-family: ShipporiMinchoB1-Regular;
}

@font-face {
    font-family: "NotoSansGeorgian-Bold";
    src: url("https://many-pictures.github.io/NotoSansGeorgian-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "NotoSansGeorgian-Medium";
    src: url("https://many-pictures.github.io/NotoSansGeorgian-Medium.ttf");
    font-weight: 600;
}

/* --------------- */

@font-face {
    font-family: "ShipporiMinchoB1-Regular";
    src: url("https://many-pictures.github.io/fonts/ShipporiMinchoB1-Regular.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "ShipporiMinchoB1-ExtraBold";
    src: url("https://many-pictures.github.io/fonts/ShipporiMinchoB1-ExtraBold.ttf");
    font-weight: 600;
}
